<div fxLayout="column" class="content print-ignore">
  <div fxLayout="row" fxLayoutAlign="start start">
    <h2><mat-icon>
      request_quote
    </mat-icon>Nuevo presupuesto</h2>
  </div>
  <div fxLayout="row">
  <form [formGroup]="formGroupPresupuesto" fxLayout="column" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="25px">
    <div fxLayout="column" fxFlex="50">
      <mat-form-field appearance="outline" floatLabel="never">
        <input matInput [(ngModel)]="presupuesto.Numero" formControlName="Numero" placeholder="Numero" name="Numero"
          required>
        <mat-error *ngIf="formGroupPresupuesto.controls['Numero'].errors?.['required']"
          fxLayoutAlign="start center">
          <mat-icon matPrefix style="margin-right: 4px;">error</mat-icon>Este campo es
          obligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxFlex="50">
      <mat-form-field appearance="outline" floatLabel="never">
        <input matInput [(ngModel)]="presupuesto.Cliente" formControlName="Cliente" placeholder="Cliente"
          name="Cliente" required>
        <mat-error *ngIf="formGroupPresupuesto.controls['Cliente'].errors?.['required']"
          fxLayoutAlign="start center">
          <mat-icon matPrefix style="margin-right: 4px;">error</mat-icon>Este campo es
          obligatorio.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.Domicilio" formControlName="Domicilio" placeholder="Domicilio"
              name="Domicilio">
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.Paciente" formControlName="Paciente" placeholder="Paciente"
              name="Paciente">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.Fecha" formControlName="Fecha" placeholder="Fecha" name="Fecha">
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.Telefono" formControlName="Telefono" placeholder="Teléfono"
              name="Telefono">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.Expediente" formControlName="Expediente" placeholder="Expediente"
              name="Expediente">
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.MantenimientoOferta" formControlName="MantenimientoOferta"
              placeholder="Mantenimiento de oferta" name="MantenimientoOferta">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.PlazoEntrega" formControlName="PlazoEntrega"
              placeholder="Plazo de entrega" name="PlazoEntrega">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <mat-select placeholder="Forma de pago" [(ngModel)]="presupuesto.FormaPago" name="FormaPago"
              formControlName="FormaPago">
              <mat-option>Seleccione</mat-option>
              <mat-option *ngFor="let forma of formaPago" [value]="forma.Descripcion">
                {{ forma.Descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
      <div fxLayout="row" fxFlexOffset="2" fxLayoutAlign="space-between start" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="50">
         <h3>
           <button mat-mini-fab  (click)="addItem()" style="margin-right: 5px; background-color: #42AEEF; color: white;">
            <mat-icon>add </mat-icon>
            </button>
             <strong>Agregar items</strong>
          </h3>
        </div>        
      </div>

      <div fxLayout="row" fxFlexOffset="4" *ngIf="presupuesto.Items.length > 0">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
          <div fxLayout="column" fxFlex="15">
            <strong>Cantidad</strong>
          </div>
          <div fxLayout="column" fxFlex="70">
            <strong>Descripción</strong>
          </div>
          <div fxLayout="column" fxFlex="15">
            <strong>Precio unitario</strong>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center" *ngFor="let item of presupuesto.Items; let i = index">
          <!-- <div fxLayout="column" fxFlex="4">
            <mat-form-field appearance="outline">
              <input matInput [value]="item.Numero" name="NumeroItem{{i}}" id="NumeroItem{{i}}" disabled>
            </mat-form-field>
          </div> -->
          <div fxLayout="column" fxFlex="15">
            <mat-form-field appearance="outline" style="margin-bottom: -1em;">
              <input matInput type="number" min="0" [(ngModel)]="item.Cantidad" name="Cantidad{{i}}" id="Cantidad{{i}}" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
            <span *ngIf="item.Cantidad < 1" class="error">La cantidad no puede ser menor a 1.</span>
          </div>
          <div fxLayout="column" fxFlex="70">
            <mat-form-field appearance="outline" style="margin-bottom: -1em;">
              <input matInput type="text" [(ngModel)]="item.Detalle" name="Detalle{{i}}" id="Detalle{{i}}" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
          <div fxLayout="column" fxFlex="15">
            <mat-form-field appearance="outline" style="margin-bottom: -1em;">
              <input matInput type="number" min="0" [(ngModel)]="item.PrecioUnitario" name="Precio{{i}}" id="Precio{{i}}" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <span *ngIf="item.PrecioUnitario <= 0" class="error">Debe poner un precio válido.</span>
          </div>

        </div>

      </div>  


    </div>
<div fxLayout="row" fxFlexOffset="6" fxLayoutAlign="center center">
    <button mat-raised-button (click)="print()"
    style="background-color: #42AEEF; color: white;">Imprimir</button></div>
  </form>
</div>
</div>


<!-- Acá va el formulario de presupuesto para Imprimir, esto solo va a ser visible cuando tiro el window.print -->
<!-- <div style="display: none;" class="print-area"> -->
  <div style="display: none;" class="print-area">
    <div fxLayout="row" style="height: 150px;">
        <div class="header-logo" fxLayout="column" fxFlex="46" fxLayoutAlign="center center"> 
        <img src="../assets/logo-ortopediaCatedral.png" width="200px">
            <p>Calle 13 Nº 195 e/ 35 y 36 - Tel/Fax: 0221 4821091 <br> La Plata - Pcia. Bs. As. - ortopediacatedral@gmail.com</p>
            <p style="font-weight: 600">I.V.A. Responsable Inscripto</p>
        </div>
        <div class="header-col2" fxLayout="column" fxFlex="9" fxLayoutAlign="center center">
        <h1>X</h1>
        </div>
        <div class="header-col3" fxLayout="column" fxFlex="45">
            <h3>PRESUPUESTO</h3>
            <p style="margin-bottom: 8px">Documento no valido como factura</p>
            <p>C.U.I.T: 30-71201574-4</p>
            <p>Ing. Brutos: 30-71201574-4</p>
            <p>Inicio Act. 18/07/11</p>         
        </div>
    </div>
    <mat-divider class="divider" style="border-color:#6D6E71"></mat-divider>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px" class="container-margin">
        <div class="column" fxFlex="60">
            <div style="display: flex; margin: 15px 0;">
                <span class="title-input">Sr./Sres:</span>
                <div class="complete-input"></div>
            </div>
            <div style="display: flex; margin: 15px 0;">
                <span class="title-input">Domicilio:</span>
                <div class="complete-input"></div>
            </div>
            <div style="display: flex; margin: 15px 0;">
                <span class="title-input">Pac.:</span>
                <div class="complete-input"></div>
            </div>  
        </div>
        <div class="column" fxFlex="40">
            <div style="display: flex; margin: 15px 0;">
                <span class="title-input">Fecha:</span>
                <div class="complete-input"></div>
            </div>
            <div style="display: flex; margin: 15px 0;">
                <span class="title-input">Tel.:</span>
                <div class="complete-input"></div>
            </div>
            <div style="display: flex; margin: 15px 0;">
                <span class="title-input">Expediente:</span>
                <div class="complete-input"></div>
            </div>  
        </div>
    </div>
    <mat-divider class="divider" style="border-color:#42AEEF"></mat-divider>    
    
    <div fxLayout="row">
    <table mat-table fxFlex="100">
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef fxFlex="20">Item</th>
        <td mat-cell *matCellDef="let element" fxFlex="20"></td>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef fxFlex="10">Cant.</th>
        <td mat-cell *matCellDef="let element" fxFlex="10"></td>
      </ng-container>
      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef fxFlex="50" style="text-align: center;">Detalle</th>
        <td mat-cell *matCellDef="let element" fxFlex="50"></td>
      </ng-container>
      <ng-container matColumnDef="unitario">
        <th mat-header-cell *matHeaderCellDef fxFlex="10">Unitario</th>
        <td mat-cell *matCellDef="let element" fxFlex="10"></td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef fxFlex="10">Total</th>
        <td mat-cell *matCellDef="let element" fxFlex="10"></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  </div>


<router-outlet></router-outlet>