<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" class="content print-ignore">
  <form [formGroup]="formGroupPresupuesto">
    <div fxLayout="column" style="width: 720px; margin:0" fxLayoutAlign="center center">
      <div fxLayout="row" fxFill fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.Numero" formControlName="Numero" placeholder="Numero" name="Numero"
              required>
            <mat-error *ngIf="formGroupPresupuesto.controls['Numero'].errors?.['required']"
              fxLayoutAlign="start center">
              <mat-icon matPrefix style="margin-right: 4px;">error</mat-icon>Este campo es
              obligatorio.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.Cliente" formControlName="Cliente" placeholder="Cliente"
              name="Cliente" required>
            <mat-error *ngIf="formGroupPresupuesto.controls['Cliente'].errors?.['required']"
              fxLayoutAlign="start center">
              <mat-icon matPrefix style="margin-right: 4px;">error</mat-icon>Este campo es
              obligatorio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxFill fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.Domicilio" formControlName="Domicilio" placeholder="Domicilio"
              name="Domicilio">
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.Paciente" formControlName="Paciente" placeholder="Paciente"
              name="Paciente">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxFill fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.Fecha" formControlName="Fecha" placeholder="Fecha" name="Fecha">
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.Telefono" formControlName="Telefono" placeholder="Teléfono"
              name="Telefono">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxFill fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.Expediente" formControlName="Expediente" placeholder="Expediente"
              name="Expediente">
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.MantenimientoOferta" formControlName="MantenimientoOferta"
              placeholder="Mantenimiento de oferta" name="MantenimientoOferta">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxFill fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <input matInput [(ngModel)]="presupuesto.PlazoEntrega" formControlName="PlazoEntrega"
              placeholder="Plazo de entrega" name="PlazoEntrega">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex="50">
          <mat-form-field appearance="outline" floatLabel="never">
            <mat-select placeholder="Forma de pago" [(ngModel)]="presupuesto.FormaPago" name="FormaPago"
              formControlName="FormaPago">
              <mat-option>Seleccione</mat-option>
              <mat-option *ngFor="let forma of formaPago" [value]="forma.Descripcion">
                {{ forma.Descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
      <div fxLayout="row" fxFill fxLayoutAlign="start center">
        <div fxLayout="column" fxFlex="50">
         <h3>
           <button mat-mini-fab color="primary" (click)="addItem()" style="margin-right: 5px;">
            <mat-icon>add </mat-icon>
            </button>
             <strong>Agregar items</strong>
          </h3>
        </div>        
      </div>

      <div fxLayout="column" fxFill *ngIf="presupuesto.Items.length > 0">
        <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
          <div fxLayout="column" fxFlex="15">
            <strong>Cantidad</strong>
          </div>
          <div fxLayout="column" fxFlex="70">
            <strong>Descripción</strong>
          </div>
          <div fxLayout="column" fxFlex="15">
            <strong>Precio unitario</strong>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center" *ngFor="let item of presupuesto.Items; let i = index">
          <!-- <div fxLayout="column" fxFlex="4">
            <mat-form-field appearance="outline">
              <input matInput [value]="item.Numero" name="NumeroItem{{i}}" id="NumeroItem{{i}}" disabled>
            </mat-form-field>
          </div> -->
          <div fxLayout="column" fxFlex="15">
            <mat-form-field appearance="outline" style="margin-bottom: -1em;">
              <input matInput type="number" min="0" [(ngModel)]="item.Cantidad" name="Cantidad{{i}}" id="Cantidad{{i}}" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
            <span *ngIf="item.Cantidad < 1" class="error">La cantidad no puede ser menor a 1.</span>
          </div>
          <div fxLayout="column" fxFlex="70">
            <mat-form-field appearance="outline" style="margin-bottom: -1em;">
              <input matInput type="text" [(ngModel)]="item.Detalle" name="Detalle{{i}}" id="Detalle{{i}}" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
          <div fxLayout="column" fxFlex="15">
            <mat-form-field appearance="outline" style="margin-bottom: -1em;">
              <input matInput type="number" min="0" [(ngModel)]="item.PrecioUnitario" name="Precio{{i}}" id="Precio{{i}}" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <span *ngIf="item.PrecioUnitario <= 0" class="error">Debe poner un precio válido.</span>
          </div>

        </div>

      </div>  


      <button mat-raised-button fxLayout="row" fxFlexOffset="5" fxLayoutAlign="center center" (click)="print()"
        color="primary">Imprimir</button>
    </div>
  </form>
</div>


<!-- Acá va el formulario de presupuesto para Imprimir, esto solo va a ser visible cuando tiro el window.print -->
<div style="display: none;" class="print-area">
  <h1>Printing test</h1>
</div>

<router-outlet></router-outlet>